:root {
  --dark: #2e2e2e;
  --light: #fafaff;
  --pink: #ffa6bc;
  --blue: #7badb6;
  --yellow: #fbcc00;
}

@media (color-gamut: p3) {
  :root {
    --yellow: oklch(86% 0.1949 94.24);
    --dark: oklch(30.12% 0 0);
    --pink: oklch(82.65% 0.1159 5.24);
  }
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: 800;
  font-style: bold;
}

.root {
  margin: 0;
  padding: 0;
  font-family: 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 3vh;
  height: 100vh;
  width: 100vw;
}

.background {
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  object-position: 70%;
}

.info {
  padding: 10% 5%;
  color: var(--light);
}

.info p {
  width: 90%;
}

a {
  color: var(--light);
}

a:hover {
  color: var(--yellow);
}

.footer {
  padding: 0;
  position: absolute;
  font-size: 1.5vh;
  bottom: 5%;
  left: 5%;
  color: var(--light);
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .no-mobile {
    display: none;
  }
}
